# Compiled files
*.bin
*.c
*-c
*-opencl
*/bin
Simplex Instance Generator/out/
Simplex Instance Generator/.idea/workspace.xml

# Test files
*actual*
*expected*
Futhark/generated_tests/

# Too big for github, have to compress
Futhark/tests/many_big_instances_1000_200_200.test
Futhark/tests/many_small_instances_5000_10_10.test
Futhark/tests/many_varying_instances_1000_150_150.test
Futhark/tests/one_big_instance_1_3000_3000.test

## Generated report
*.pdf

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib

## tex beamer files
*.nav
*.snm
*.vrb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
